@import 'variables';

.blog {
    width: 100%;
    color: grey;
}

.blog {

    h2 {
        $h2-after-width: 200px;

        position: relative;
        text-align: center;
        color: black;

        &::after {
            content: '';
            position: absolute;
            bottom: 0; left: calc(50% - #{( $h2-after-width / 2 )});
            width: $h2-after-width;
            height: 1px;
            background-color: $beige;
        }
    }

    .recent {
        width: 100%;
        flex-flow: wrap;
        @include flex-center;
    }

    .link-shutter {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-color: rgba(0,0,0,0);
        z-index: 2;
    }
}

.blog-m {
    .shutter {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-color: rgba(0, 0, 0, .5);
        background: linear-gradient(0deg, rgba(0, 0, 0, .9) 0%, rgba(0, 0, 0, .0) 99%);
        transition: all .4s;
    }

    .recent {
        .post-card {
            width: 40%; height: 300px;
            margin: 10px;
            max-width: 400px;
            background-image: url('https://www.mieszkanieczydom.pl/public/images/bg.jpeg');
            background-size: cover;
            position: relative;
            cursor: pointer;
            overflow: hidden;
 
            &:hover {
                .shutter {
                    top: 190px;
                }    

                .description {
                    color: white;
                }
            }

            .description {
                position: absolute;
                bottom: 5px; left: 0;
                width: 100%; height: auto;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                padding: 0 10px;
                z-index: 2;
                color: rgb(235, 233, 233);

        
                .title {
                    padding: 5px;
                    font-size: 22px;
                }
        
                .date {
                    padding: 0 5px;
                    margin: 3px 0;
                    font-size: 12px;
                }
            }
        }
    
    }

}


.blog-s .recent .post-card{
    width: 30%; height: 350px;
    margin: 5px;
    max-width: calc(800px /3);
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.blog-s .recent .post-card .post-image {
    background-image: url('https://www.mieszkanieczydom.pl/public/images/bg.jpeg');
    background-size: cover;
    height: 200px
}

.blog-s .recent .post-card .description {
    color: black;
}

.blog-s .recent .post-card .description .title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding: 5px;
    font-size: 18px;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-s .recent .post-card .description .date {
    color: silver;
}

@media (max-width: 768px) {
    .blog .recent .post-card {
        width: 100%;
    }

}

