@import "variables";

body {
    font-family: 'calibri';
}

.posts-list {
    padding: 3% 4%;

    .post {
        display: flex;
        margin: 15px 0;
        img {
            width: 240px; height: 180px;
        }
    }
}


.cms {
    .context-menu {
        $ctx-menu-width: 120px;

        display: none;
        position: fixed;
        top: 100px; left: 200px;
        width: $ctx-menu-width; height: 300px;
        background-color: #EEEEEE;
        overflow: hidden;     
        border: 1px solid grey;
        border-radius: 1px;
        -webkit-box-shadow: 3px 3px 3px 0px rgba(170,170,170,1);
        -moz-box-shadow: 3px 3px 3px 0px rgba(170,170,170,1);
        box-shadow: 3px 3px 3px 0px rgba(170,170,170,1);

        .control {
            @include flex-center;
            position: relative;
            padding: 0 10px;
            font-size: 13px;
            height: 30px;
            cursor: default;

            &:hover {
                background-color: $cyan;
            }

            &::after {
                $ctx-control-width: calc(#{ $ctx-menu-width - 20px });

                content: '';
                display: block;
                position: absolute;
                width: $ctx-control-width;
                bottom: -1px; 
                left: calc(#{ ($ctx-menu-width - $ctx-control-width) / 2 });
                border-bottom: 1px solid lightgrey;
            }
        }
    }

    .control-panel {
        width: 100%; height: 100px;
        padding: 5px 0;
        background-color: #f3f3f3;
        display: flex;
        justify-content: space-evenly;

        .inputs {
            display: flex;
            align-items: center;

            .inputs-container {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                input[type="text"], select {
                    height: 30px;
                    border-radius: 4px;
                    font-size: 12px;
                    width: 160px;
                    margin: 0 5px;
                }
            }
        }
    
        .main-image {
            @include flex-center;
            flex-direction: column;

            .image-preview {
                width: 120px; height: 80px;
                background-color: red;
                background-image: url('https://www.mieszkanieczydom.pl/public/images/bg.jpeg');
                background-size: cover;
            }

            .div-button {
                width: 120px;
                text-align: center;
                padding: 2px 0;
                background-color: $navy;
                color: white;
                cursor: pointer;
                transition: all .25s;

                &:hover {
                    background-color: lighten($navy, 20%);
                }
            }
        }

        .post-content {
            display: flex;

                textarea {
                    resize: none;
                    width: 300px;
                }
            }

            .controls {
                display: flex;
                align-items: center;
                width: 300px;
                height: 74px;
                flex-flow: wrap;
                overflow-y: scroll;

                .control {
                    width: 35px; height: 35px;
                    border: .5px solid silver;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    background-color: white;

                    transition: all .25s;

                    &:hover {
                        background-color: silver;
                    }
                }
            }
        }
    

        .preview-container {
            padding: 3% 5%;
            background-color: #E6E6E6;
            min-height: 100%;

            .preview {
                background-color: white;
                padding: 5% 5%;
                min-height: 100%;
                -webkit-box-shadow: 0px 0px 2px 0.5px rgba(144,144,144,1);
                -moz-box-shadow: 0px 0px 2px 0.5px rgba(144,144,144,1);
                box-shadow: 0px 0px 2px 0.5px rgba(144,144,144,1);

                table, tr, td {
                    border: 1px solid black;
                }
        
                table {
                    border-collapse: collapse;
                    tr, td {
                        min-width: 100px;
                        padding: 2% 3%;
                    }

                    td {
                        cursor: text;
                    }   
            
                    tr {
                        &:first-child
                        {
                            background-color: #EEEEEE;
                            font-weight: bold;
                        }
                    }
                }

                textarea {
                    font-family: 'calibri';
                    width: 60%; height: auto;
                    resize: none;
                    border: .5px solid lightgrey;

                    &:focus {
                        border: 1px solid black;
                    }
                }

                textarea[type='h1'] {
                    font-size: 32px;
                    font-weight: bold;
                }

                textarea[type='h2'] {
                    font-size: 24px;
                    font-weight: bold;
                }

                textarea[type='h3'] {
                    font-size: 19px;
                    font-weight: bold;
                }

                textarea[type='h4'] {
                    font-size: 16px;
                    font-weight: bold;
                }

                textarea[type='h5'] {
                    font-size: 13px;
                    font-weight: bold;
                }

                textarea[type='p'] {
                    font-size: 16px;
                }
            }
        }


    }
