@import 'variables';

nav {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 60px;
    background-color: $navy;
    color: white;
    z-index: 999;

    .logo-wrapper {
        height: 100%;
        padding: 0 2%;
        float: left;
        @include flex-center;

        img{
            width: 200px; 
        }
    }

    ul {
        margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
        list-style-type: none;
        justify-content: space-evenly;
        align-items: center;
    }
}
  