#postContent {
    width: 60%;
    min-height: 100%;
    padding: 60px 10%;

    img {
        width: 100%;
    }

    table, tr, td {
        border: 1px solid black;
    }


    table {
        border-collapse: collapse;
        tr, td {
            width: 20%;
            min-width: 100px;
            padding: 2% 3%;
        }

        tr {
            &:first-child
            {
                background-color: #EEEEEE;
                font-weight: bold;
            }
        }
    }

   
  

}

