@import url(https://fonts.googleapis.com/css?family=Nunito);nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #0A2B34;
  color: white;
  z-index: 999;
}

nav .logo-wrapper {
  height: 100%;
  padding: 0 2%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .logo-wrapper img {
  width: 200px;
}

nav ul {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
}

.blog {
  width: 100%;
  color: grey;
}

.blog h2 {
  position: relative;
  text-align: center;
  color: black;
}

.blog h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 100px);
  width: 200px;
  height: 1px;
  background-color: #C2A77A;
}

.blog .recent {
  width: 100%;
  flex-flow: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog .link-shutter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
}

.blog-m .shutter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 99%);
  transition: all 0.4s;
}

.blog-m .recent .post-card {
  width: 40%;
  height: 300px;
  margin: 10px;
  max-width: 400px;
  background-image: url("https://www.mieszkanieczydom.pl/public/images/bg.jpeg");
  background-size: cover;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.blog-m .recent .post-card:hover .shutter {
  top: 190px;
}

.blog-m .recent .post-card:hover .description {
  color: white;
}

.blog-m .recent .post-card .description {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 10px;
  z-index: 2;
  color: #ebe9e9;
}

.blog-m .recent .post-card .description .title {
  padding: 5px;
  font-size: 22px;
}

.blog-m .recent .post-card .description .date {
  padding: 0 5px;
  margin: 3px 0;
  font-size: 12px;
}

.blog-s .recent .post-card {
  width: 30%;
  height: 350px;
  margin: 5px;
  max-width: calc(800px /3);
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.blog-s .recent .post-card .post-image {
  background-image: url("https://www.mieszkanieczydom.pl/public/images/bg.jpeg");
  background-size: cover;
  height: 200px;
}

.blog-s .recent .post-card .description {
  color: black;
}

.blog-s .recent .post-card .description .title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding: 5px;
  font-size: 18px;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-s .recent .post-card .description .date {
  color: silver;
}

@media (max-width: 768px) {
  .blog .recent .post-card {
    width: 100%;
  }
}

#postContent {
  width: 60%;
  min-height: 100%;
  padding: 60px 10%;
}

#postContent img {
  width: 100%;
}

#postContent table,
#postContent tr,
#postContent td {
  border: 1px solid black;
}

#postContent table {
  border-collapse: collapse;
}

#postContent table tr,
#postContent table td {
  width: 20%;
  min-width: 100px;
  padding: 2% 3%;
}

#postContent table tr:first-child {
  background-color: #EEEEEE;
  font-weight: bold;
}

footer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #C2A77A;
  background-color: black;
}

body {
  font-family: "calibri";
  margin: 0;
}

.content {
  width: 80%;
  padding: 60px 10%;
}

body {
  font-family: "calibri";
}

.posts-list {
  padding: 3% 4%;
}

.posts-list .post {
  display: flex;
  margin: 15px 0;
}

.posts-list .post img {
  width: 240px;
  height: 180px;
}

.cms .context-menu {
  display: none;
  position: fixed;
  top: 100px;
  left: 200px;
  width: 120px;
  height: 300px;
  background-color: #EEEEEE;
  overflow: hidden;
  border: 1px solid grey;
  border-radius: 1px;
  box-shadow: 3px 3px 3px 0px #aaaaaa;
}

.cms .context-menu .control {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 10px;
  font-size: 13px;
  height: 30px;
  cursor: default;
}

.cms .context-menu .control:hover {
  background-color: #6cb2eb;
}

.cms .context-menu .control::after {
  content: "";
  display: block;
  position: absolute;
  width: calc(100px);
  bottom: -1px;
  left: calc(120px-calc(100px)/2);
  border-bottom: 1px solid lightgrey;
}

.cms .control-panel {
  width: 100%;
  height: 100px;
  padding: 5px 0;
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-evenly;
}

.cms .control-panel .inputs {
  display: flex;
  align-items: center;
}

.cms .control-panel .inputs .inputs-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cms .control-panel .inputs .inputs-container input[type=text],
.cms .control-panel .inputs .inputs-container select {
  height: 30px;
  border-radius: 4px;
  font-size: 12px;
  width: 160px;
  margin: 0 5px;
}

.cms .control-panel .main-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cms .control-panel .main-image .image-preview {
  width: 120px;
  height: 80px;
  background-color: red;
  background-image: url("https://www.mieszkanieczydom.pl/public/images/bg.jpeg");
  background-size: cover;
}

.cms .control-panel .main-image .div-button {
  width: 120px;
  text-align: center;
  padding: 2px 0;
  background-color: #0A2B34;
  color: white;
  cursor: pointer;
  transition: all 0.25s;
}

.cms .control-panel .main-image .div-button:hover {
  background-color: #1a728a;
}

.cms .control-panel .post-content {
  display: flex;
}

.cms .control-panel .post-content textarea {
  resize: none;
  width: 300px;
}

.cms .control-panel .controls {
  display: flex;
  align-items: center;
  width: 300px;
  height: 74px;
  flex-flow: wrap;
  overflow-y: scroll;
}

.cms .control-panel .controls .control {
  width: 35px;
  height: 35px;
  border: 0.5px solid silver;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  transition: all 0.25s;
}

.cms .control-panel .controls .control:hover {
  background-color: silver;
}

.cms .preview-container {
  padding: 3% 5%;
  background-color: #E6E6E6;
  min-height: 100%;
}

.cms .preview-container .preview {
  background-color: white;
  padding: 5% 5%;
  min-height: 100%;
  box-shadow: 0px 0px 2px 0.5px #909090;
}

.cms .preview-container .preview table,
.cms .preview-container .preview tr,
.cms .preview-container .preview td {
  border: 1px solid black;
}

.cms .preview-container .preview table {
  border-collapse: collapse;
}

.cms .preview-container .preview table tr,
.cms .preview-container .preview table td {
  min-width: 100px;
  padding: 2% 3%;
}

.cms .preview-container .preview table td {
  cursor: text;
}

.cms .preview-container .preview table tr:first-child {
  background-color: #EEEEEE;
  font-weight: bold;
}

.cms .preview-container .preview textarea {
  font-family: "calibri";
  width: 60%;
  height: auto;
  resize: none;
  border: 0.5px solid lightgrey;
}

.cms .preview-container .preview textarea:focus {
  border: 1px solid black;
}

.cms .preview-container .preview textarea[type=h1] {
  font-size: 32px;
  font-weight: bold;
}

.cms .preview-container .preview textarea[type=h2] {
  font-size: 24px;
  font-weight: bold;
}

.cms .preview-container .preview textarea[type=h3] {
  font-size: 19px;
  font-weight: bold;
}

.cms .preview-container .preview textarea[type=h4] {
  font-size: 16px;
  font-weight: bold;
}

.cms .preview-container .preview textarea[type=h5] {
  font-size: 13px;
  font-weight: bold;
}

.cms .preview-container .preview textarea[type=p] {
  font-size: 16px;
}

.cms .preview-container .preview img {
  min-width: 50px;
  min-height: 50px;
  border-color: greenyellow;
}

